<meta name="viewport" content= "width=device-width, initial-scale=1.0">
<div class="col-lg-8 mx-auto p-3 py-md-5">
  <header class="d-flex  pb-3 mb-5 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <img [src] ="ImagePath" alt="image" height="32">
    </a>
    <div class="text-end"><h1>Monitoreo de alertas</h1></div>
  </header>
  <div>
    <ul>
      <li><a href="">Enviar Alerta</a></li>
      <li><a href="">Monitoreo Alertas</a></li>
    </ul>
  </div>
  

  <hr class="col-3 col-md-2 mb-5">

    <app-mde></app-mde>
    <br><br>
    <app-mdi></app-mdi>
</div>




 