<meta name="viewport" content= "width=device-width, initial-scale=1.0">
<div class="col-lg-8 mx-auto p-3 py-md-5">
  <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <img [src] ="ImagePath" alt="image" height="32">
    </a>
  </header>
  <div>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="">News</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="">About</a></li>
    </ul>
  </div>
  

  <h1>Monitoreo de alertas</h1>
  <hr class="col-3 col-md-2 mb-5">

    <h1>Registro de eventos {{device_mde}}</h1>  
    
    <table class="table table-bordered table-hover">  
      <thead>  
          <tr>  
            <th>ID Cliente</th>  
            <th>Coordenadas</th>  
            <th>Punto Caliente</th>  
            <th>Cuadrante</th>  
            <th>Fecha</th>
          </tr>  
      </thead>  
      <tbody>
        <tr *ngFor="let item of mdeData">  
          <td>{{ item.idCliente }}</td>  
          <td>{{ item.NoSerie }}</td>
          <td>{{ item.geolocalizacion }}</td>  
          <td>{{ item.punto_caliente }}</td>  
          <td>{{ item.cuadrante }}</td>  
          <td>{{ item.fecha }}</td>  
        </tr>  
      </tbody>  
    </table>  
    <br><br>
    <h1>Registro de eventos MDI</h1>  
    
    <table class="table table-bordered table-hover">  
      <thead>  
          <tr>  
            <th>ID Cliente</th>  
            <th>No. Serie</th>  
            <th>Coordenadas</th>  
            <th>Corriente Baja</th>  
            <th>Corriente Alta</th>
            <th>Voltaje</th>
            <th>Fecha</th>
          </tr>  
      </thead>  
      <tbody>
        <tr *ngFor="let item of mdiData">  
          <td>{{ item.idCliente }}</td>  
          <td>{{ item.NoSerie }}</td>  
          <td>{{ item.geolocalizacion }}</td>  
          <td>{{ item.corriente_baja }}</td>  
          <td>{{ item.corriente_alta }}</td> 
          <td>{{ item.voltaje }}</td> 
          <td>{{ item.fecha }}</td>  
        </tr>  
      </tbody>  
    </table>
</div>




 